@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 85vw;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1); 
    border-radius: .5em;
    padding: 1em 2em 1em;
}

.grid-container .heading {
    padding-bottom: 1.5em;
    font-size: 2rem;
}

.grid-item h3 {
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: .7em;
}

.grid-item p {
    line-height: 1.6;
    margin-bottom: 3em;
    font-size: 1rem;
}

/* image section */
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
    row-gap: 4em;
}

.card .item2 {
    position: relative;
    top: 50px;
    left: 0;
}

.card .item1 {
    position: relative;
}

.card p {
    font-weight: 600;
    font-size: 0.8rem;
}

.card .title {
    writing-mode: vertical-lr;
    position: absolute;
    top: 0;
    left: calc(50vw - 10em);
    text-transform: uppercase;
    font-size: 0.6rem;
}

.footer {
    padding-top: 8em;
    text-align: center;
}


/* desktop view */
@media screen and (min-width: 1024px){
    .container {
        width: 80%;
        padding: 3em 5em 1em;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4em;
    }

    .card .item {
        position: relative;
        top: 100px;
        left: 0;
    }

    .card .title {
        left: 255px;
    }

    .footer {
        padding-top: 10em;
    }
}
